<section id="first">
  <header>
    <h2>À propos</h2>
  </header>
  <div class="content">
    <p><strong>Brix Labs</strong> offre des produits et des services qui aident les entreprises, en particulier les entreprises culturelles, à tirer profit du numérique pour commercialiser leurs offres. Elle se spécialise dans les approches qui s’appuient  sur la création ou l’utilisation de données.</p>
    <p>
      Son président-fondateur, Christian Roy, oeuvre depuis plus de 20 ans sur des projets technologiques, en particulier dans les secteurs de l’éducation, de la culture et de l’édition. Combinant une connaissance fine des aspects technologiques et des enjeux d’affaires, il s’intéresse aux projets alliant l’utilisation de données, d’API et d’intelligence artificielle.
      <a href="https://twitter.com/christianroy" class="icon fa-twitter"><span class="label">Twitter</span></a>
      <a href="https://www.linkedin.com/in/christianroyquebec/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a>
      <a href="https://github.com/christianroy" class="icon fa-github"><span class="label">GitHub</span></a>
    </p>
  </div>
</section>
