<section>
  <header>
    <h2>Produits</h2>
  </header>
  <div class="content">
    <p><strong><a href="https://www.hercules.report">Hercules.report</a></strong>. Plateforme de veille, d’intelligence de marché et de mesure de la découvrabilité s’adressant aux professionnels de l’édition.</p>
    <p><strong>Solutions personnalisées</strong> en collecte et compilation de données, application de l’intelligence artificielle à des problèmes liés à l’offre culturelle, systèmes personnalisés. <a href="#contact">Contactez-nous</a> pour discuter de vos besoins.</p>
  </div>
</section>
