<section>
  <header>
    <h2>Services</h2>
  </header>
  <div class="content">
    <p>Nous offrons plusieurs types de services-conseils, selon les besoins de nos clients.</p>
    <ul class="feature-icons">
      <li class="icon fa-lightbulb-o">Accompagnement et stratégie</li>
      <li class="icon fa-compass">Audit technique ou fonctionnel</li>
      <li class="icon fa-gear">Analyse, architecture de plateformes</li>
      <li class="icon fa-pencil">Rédaction (cahier des charges, demandes de subventions...)</li>
      <li class="icon fa-list">Inventaire de besoins, récits d'utilisateurs</li>
      <li class="icon fa-plus">Et plus...</li>
    </ul>
    <p>Nos spécialités: données, métadonnées, données structurées, API, interopérabilité, intelligence artificielle, découvrabilité, web, commercialisation..</p>
  </div>
</section>
